html,
body {
    padding: 0;
    height: 100%;
    font-family: Helvetica;
    background-color: #e0e0e0;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

#redmatic-versions,
#ccu-versions,
#ccu-platforms,
#ccu-products,
#families,
#lite-versions {
    width: calc(100vw - 44px);
    height: calc(100vw - 36px);
}

.table {
    width: 100%;
}

@media (min-width: 981px) {
    #redmatic-versions,
    #ccu-versions,
    #ccu-platforms,
    #ccu-products,
    #families,
    #lite-versions {
        width: calc(50vw - 36px);
        height: calc(50vw - 36px);
    }

    .table {
        width: calc(50vw - 36px);
    }
}

.table table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 6px;
}

table td {
    padding: 2px;
}

tr:nth-child(odd) {
    background: #efefef;
}

.pie,
.table {
    margin: 4px;
    padding: 0 10px;
    background-color: white;
}

.pie h3,
.table h3 {
    text-align: center;
}

.count {
    text-align: right;
    width: 80px;
}

#byday {
    width: calc(100% - 8px);
    height: 50%;
    background-color: white;
    margin: 4px;
}

.lite {
    color: #666;
    font-size: 90%;
}
